<phpunit bootstrap="bootstrap.php"
		colors="false"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		stopOnFailure="false"
		verbose="true">
	<testsuites>
		<testsuite name="My Test Suite">
			<directory>unit/*Test.php files</directory>
		</testsuite>
	</testsuites>

	<selenium>
		<browser name="Internet Explorer" browser="*iexplore" />
		<browser name="Firefox" browser="*firefox" />
	</selenium>

</phpunit>